* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

header {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px black;
    justify-content: center;
}

header #header-logo {
    width: 20%;
    height: 100%;

}

header #header-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

header .header-menu {
    width: 80%;
    height: 100%;
    display: flex;

}

header .header-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
header .header-menu ul li {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header .header-menu ul li a {
  text-decoration: none;

}


main{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column; /* içeriği alt alta geçiri  */
    justify-content: flex-start;
    align-items: flex-start;
}
main .main-slider{
    width: 100%;
    height: 80vh;
}




.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }